html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    padding: 60px;
}

article{
    background: rgb(51, 102, 153);
    border-radius: 1rem;
    padding: 20px;
}

h1{
    font-family: Georgia, serif;
}