@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;700&family=Lato:wght@300&display=swap');

  
html{
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family: Cormorant, serif ;
    font-weight: bold;
    line-height: 1.2;
}
