/* p {
    width: 200px;
    padding: 20px;
    margin: 5px auto;
    border: 5px;
    border-style: solid;
    background-color: rgb(64, 224, 200);
    border-color: black;
    color: black;
    
} */

p {
    width: 200px;
    padding: 20px;
    margin: 5px auto;
    border: 5px solid #000;
    border-radius: 12px;
    background-color: rgb(64, 224, 208);
}